.conadd {
  margin: 0 !important;
  padding: 0 !important;
}

.coladd2 {
  display: inline-block !important;
}

.coladd2 h4 {
    padding-top: 15px;
    color: #1b345f;
}

.formnewmentee {
    display: inline-block !important;
}
