.condash {
  padding-bottom: 50px;

}

.condash1 {
  margin: 0 !important;
  padding: 0 !important;
}


.col2 {
  padding-top: 30px ;
}

.div0 {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.div1 {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: solid;
  border-color: #dbe5fa;
}

.div2 {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  text-align: center;
  border: solid;
  border-color: #dbe5fa;
}

.div3 {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: solid;
  border-color: #dbe5fa;
}

.div4 {
  padding-top: 40px;
}

.col2 h1 {
  padding-top: 30px;
  font-size: 60px;
  color: #1b345f;
}

h5 {
  padding-top: 40px;
  color: #1b345f;
}
