html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.navbar {
  width: 418px;
  background-color: #1b345f;
  height: 100vh;
  align-content: flex-start;
}

.navbar .log {
  margin-left: 93px;
  margin-top: 16px;
  margin-right: 88px;
  margin-bottom: 82px;
}
.log-page{
  display: flex;
  flex-wrap: wrap;
  height: 0;
}