.congreet {
  padding-bottom: 20px;
}

.hellogreet {
  font-size: 28px;
  color: #1b345f;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 80px;
}

.hellogreet .name {
  font-size: 32px;
  color: #f7731c;
  font-weight: 600;
}

.colgreet1 h1 {
  padding-top: 0px;
  font-size: 50px;
  color: #1b345f;
}

.colgreet1 h2 {
  color: #f7731c;
}

@media (max-width: 767px) {
  .hellogreet {
    font-size: 28px;
    color: #1b345f;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 10px;
  }
  .congreet {
    padding-bottom: 20px;
    margin-left: 20px;
  }
}

.react-icons1 {
  font-size: 40px;
}

.react-icons2 {
  font-size: 30px;
  margin-left: 240px;
  color: #1b345f;
}

@media (max-width: 1200px) {
  .hellogreet {
    font-size: 28px;
    color: #1b345f;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 10px;
  }
  .congreet {
    padding-bottom: 20px;
    margin-left: 50px;
  }
}
