.log {
  height: auto;
  border: #dbe5fa solid 2px;
  margin-top: 20px;
  padding: 30px;
  color: #1b345f;
}

.colr {
padding-bottom: 30px;
}

.colr h1 {
  color: #f7731c;
}

.colr h2 {
  color: #1b345f;
  padding-top: 10px;
}

.buttonlog {
  width: 150px;
  height: 38px;
  margin: 40px 0 40px 600px;
  color: #ffffff;
  background-color: #f7731c;
  border-radius: 8px;
  border: #f7731c;
}

@media (max-width: 1044px) {
  .colr {
    margin-left: 70px;
  }
  .colr2 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .colr2 {
    margin-right: 60px;
  }
  .buttonlog {
    margin-right: 40px;
  }
  .log {
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .colr2 {
    margin-right: 60px;
  }
  .buttonlog {
    margin-right: 40px;
  }
  .log {
    margin-right: 40px;
  }
  .colr {
    margin-left: 50px;
  }
}
